.seat-btn {
  background-color: transparent;
  border: 1px solid #212529;
  border-radius: 0;
}

.seat-btn--reserved {
  background-color: #474747 !important;
  border: 1px solid #212529 !important;
}

.seat-btn--selected {
  background-color: #ff8a05 !important;
}
