.seats-choice-container {
  width: 815px; /* 55px * 15 cols */
  margin: 0 auto;
  padding-top: 150px;
}

/*** Seats section ***/
.seats {
  display: grid;
  grid-template-columns: repeat(15, 45px);
  grid-template-rows: repeat(10, 45px);
  gap: 10px;
}

.seats__seat-btn {
  height: 100%;
}

/*** Legend section ***/
.seats-choice-container__legend {
  margin-top: 50px;
}

.legend__seat-btn {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.legend__item {
  display: flex;
  align-items: center;
}

.legend {
  display: flex;
  justify-content: space-between;
}

.legend__confirmation-btn {
  width: 210px;
  height: 45px;
}
